DB_HOST=database-1.c700cawawscp.us-west-1.rds.amazonaws.com
DB_USER=app_user
DB_PASS=your_db_password
DB_NAME=pho_city_db
DB_PORT=3306
JWT_SECRET=replace_with_strong_secret
ADMIN_DEFAULT_EMAIL=admin@phocity.com
ADMIN_DEFAULT_PASSWORD=changeme
FRONTEND_ORIGIN=http://localhost:5173
PORT=5000
GMAIL_USER=your_email@example.com
GMAIL_PASS=your_email_app_password
